[tool.poetry]
authors = ["Daniel Schmidt <danischm@cisco.com>"]
description = "A CLI tool to perform a pre-change validation on Nexus Dashboard Insights or Network Assurance Engine."
documentation = "https://github.com/netascode/nexus-pcv"
homepage = "https://github.com/netascode/nexus-pcv"
license = "LICENSE"
maintainers = ["Daniel Schmidt <danischm@cisco.com>"]
name = "nexus-pcv"
readme = "README.md"
repository = "https://github.com/netascode/nexus-pcv"
version = "0.1.6"

[tool.poetry.scripts]
nexus-pcv = "nexus_pcv.cli.main:main"

[tool.poetry.dependencies]
click = "^8.1.3"
errorhandler = "^2.0.1"
importlib-metadata = {version = "^2.0.0", python = "<3.8"}
python = "^3.7"
pyyaml = "^6.0"
requests = "^2.28.1"

[tool.poetry.group.dev.dependencies]
black = "^22.10.0"
flake8 = "^5.0.4"
isort = "^5.10.1"
mypy = "^0.982"
pre-commit = "^2.20.0"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
toml = "^0.10.2"
types-pyyaml = "^6.0.12.1"
types-requests = "^2.28.11.2"

[tool.coverage.run]
source = ["nexus_pcv"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover", "@abstract", "except ImportError:"]
omit = ["*/__main__.py"]

[tool.isort]
# https://github.com/timothycrosley/isort
# https://github.com/timothycrosley/isort/wiki/isort-Settings
# splits long import on multiple lines indented by 4 spaces
force_grid_wrap = 0
include_trailing_comma = true
indent = "    "
line_length = 88
multi_line_output = 3
use_parentheses = true
# will group `import x` and `from x import` of the same module.
combine_as_imports = true
default_section = "THIRDPARTY"
force_sort_within_sections = true
forced_separate = "tests"
known_first_party = ["nexus_pcv", "tests"]
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[tool.pytest.ini_options]
markers = ["unit", "integration"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry_core>=1.0.0"]
